// ==============================
// Social
// =============================

.social-links {
  text-align: center;

  .fa {
    font-size: $social-icon-font-size;

    & + .fa {
      margin-left: $social-link-margin-left;
    }

    &:hover {
      color: $theme-color;
    }
  }
}
